# Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log
*.csv

# Output files
*.pdf
*.jpg
*.png
*.nii
*.nii.gz
*.pth
*.npy

# Experiments
experiments/*

# Jupyter
.ipynb_checkpoints/

# Cache
unsloth_compiled_cache/

# Environment
.env
.venv

# Misc
output.log
